[user]
	name = Michele Capicchioni
{{- if eq .environment "work" }}
	email = michele.capicchioni@thespacesm.com
{{- else }}
	email = capimichi@gmail.com
{{- end }}
[core]
	autocrlf = input
[credential]
	helper = store --file=~/.git-credentials
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
